.profile{
    margin-top: 12px;
    height: 50px;
    justify-content: space-between;
    width: 50px;
    border-radius: 60%;
}

.icon{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
}

.sections{
    display: flex;

}

.favorite{
    height: 40vh;
    margin-left: 12px;
}

.may-like{
    margin-left: 12px;
    height: 40vh;
    justify-content: space-between;
}


.split-1{
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 58, 58);
}

.split-2{
    background-color: rgb(238, 217, 217);
}

.split-3{
    background-color: rgb(181, 175, 175);
}