.profile{
    margin-top: 12px;
    height: 50px;
    align-items: center;
    width: 50px;
    border-radius: 60%;
}

.icon{
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    overflow: hidden;
    color: black;
}

.arrow-right, .arrow-left{
    font-size: 23px;
}

button{
    height: 32px;
    width: 60px;
}

.upgrade{
    display: flex;
    justify-content: space-between;
}

.sections{
    display: flex;

}

.favorite{
    height: 20vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.set-1{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgb(0, 0, 0, 0.57);
    margin-top: 12px;
}

.set-2{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgb(0, 0, 0, 0.57);
    margin-top: 12px;
}

.set-3{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgb(0, 0, 0, 0.57);
    margin-top: 12px;
}

.set-4{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgb(0, 0, 0, 0.57);
    margin-top: 12px;
}

.set-5{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgb(0, 0, 0, 0.57);
    margin-top: 12px;
}


.set-6{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgb(0, 0, 0, 0.57);
    margin-top: 12px;
}

.image-text{
    margin-top: 50px;
}

.list{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 12px;
    overflow: hidden;
}

.may-like{
    margin-left: 12px;
    height: 40vh;
    justify-content: space-between;
}

.play{
   display: flex;
   justify-content: space-between;
}

.name{
    display: flex;
    justify-content: space-between;
}


.split-1{
    width: 7%;
    display: flex;
    flex-direction: column;
    background-color: rgb(61, 58, 58);
}

.split-2{
    width: 80%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: backgroundAnimation 10s linear infinite;
}

@keyframes backgroundAnimation {
    0%{
        background-color: #211200;
    }
    50%{
        background-color: #afafaf;
    }
    100%{
        background-color: #280519;
    }
}

.split-3{
    width: 30%;
    background-color: rgb(181, 175, 175);
}